@charset "UTF-8";

.main-width {
  width: 100%;
  box-sizing: border-box;
}

.header {
  height: 70px;
  padding: 15px;
  background-color: white;
  position: fixed;
}

.inner-header {
  display: flex;
  justify-content: space-around;
}

a.btn {
  text-decoration: none;
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  transition: 0.3s;
}

a.btn:hover {
  color: #333;
}

a.contact-btn {
  padding: 14px 12px;
}

i.fas {
  color: #c0c0c0;
}

.gray-back {
  background-color: #f2f2f2;
}

.inner {
  text-align: center;
}

.title {
  padding: 320px 0 250px;
}

.main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.second-title {
  font-size: 30px;
  color: #c0c0c0;
}

.green-back {
  background-color: #74cfae;
}

.green {
  padding: 0 120px;
}

.green-image {
  margin: 50px 120px 0;
}

.green-title {
  color: white;
  font-size: 24px;
  margin: 50px 0 35px;
}

.green-content {
  color: white;
  font-size: 20px;
}

.images {
  padding: 60px 0 70px;
}

.image-title {
  font-size: 24px;
  margin-bottom: 40px;
}

.image-six {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.image {
  opacity: 0.7;
  transition: 0.3s;
  margin-top: 80px;
  margin-left: 100px;
}

.image:nth-child(1), .image:nth-child(2), .image:nth-child(3) {
  margin-top: 0;
}

.image:nth-child(3n+1) {
  margin-left: 0;
}

.image:hover {
  opacity: 0;
}

.inner-second {
  display: flex;
  justify-content: center;
}

.image-bottom {
  margin-top: 90px;
}

a.mail-btn {
  margin-left: 90px;
  padding: 14px 20px;
}

.black {
  display: inline-block;
  background-color: #333;
}

.black-title {
  color: white;
  font-size: 24px;
  margin: 70px 0 40px
}

.black-image {
  margin-left: 180px;
  margin-bottom: 100px;
}

.black-image:first-child {
  margin-left: 0;
}

.black-image-content {
  text-align: center;
  font-size: 16px;
  color: white;
}

.navigation {
  padding: 200px 0;
}

a i.fas, a i.fab {
  width: 185px;
  text-align: center;
  padding: 30px 0;
  color: #74cfae;
  transition: 0.3s;
}

a i.fas:hover, a i.fab:hover {
  background-color: white;
}

.footer-text {
  font-size: 16px;
  color: white;
  text-align: right;
  padding: 20px 100px 25px;
}