@charset "UTF-8";

body {
  font-family: Lato;
}

.font {
  font-family: Raleway;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.main-width {
  width: 100%;
  box-sizing: border-box;
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.second-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.btn {
  text-decoration: none;
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  transition: 0.3s;
}

a.btn:hover {
  color: #333;
}

a.contact-btn {
  padding: 14px 12px;
}

i.fas {
  color: #c0c0c0;
}

.gray-back {
  background-color: #f2f2f2;
}

.text-content {
  text-align: center;
}

.title {
  padding: 320px 0 250px;
}

.main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.second-title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.green-back {
  background-color: #74cfae;
}

.green {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.green-image {
  margin: 0 100px;
  font-size: 0;
}

.green-title {
  color: white;
  font-size: 24px;
}

.green-content {
  color: white;
  font-size: 20px;
  margin-top: 35px;
}

.images {
  padding: 60px 0 70px;
}

.image-title {
  font-size: 24px;
}

.image-six {
  display: flex;
  flex-wrap: wrap;
}

.image {
  opacity: 0.7;
  transition: 0.3s;
  margin-top: 80px;
  margin-left: 100px;
  z-index: 10;
}

.image:nth-child(1), .image:nth-child(2), .image:nth-child(3) {
  margin-top: 40px;
}

.image:nth-child(3n+1) {
  margin-left: 0;
}

.image:hover {
  opacity: 1;
}

.center-space {
  display: flex;
  justify-content: center;
}

.image-bottom {
  margin-top: 90px;
  align-items: center;
}

a.mail-btn {
  margin-left: 90px;
  padding: 14px 20px;
}

.black {
  padding: 70px 0 100px;
  background-color: #4e4e4e;
}

.black-title {
  color: white;
  font-size: 24px;
}

.graph{
  margin-top: 40px;
}

.black-image {
  margin-left: 180px;
}

.black-image:first-child {
  margin-left: 0;
}

.black-image-content {
  text-align: center;
  font-size: 16px;
  color: white;
}

.navigation {
  padding: 200px 0;
}

a i.fas, a i.fab {
  width: 185px;
  text-align: center;
  padding: 30px 0;
  color: #74cfae;
  transition: 0.3s;
}

a i.fas:hover, a i.fab:hover {
  background-color: white;
}

.footer {
  font-size: 16px;
  color: white;
  text-align: right;
  padding: 20px 0 25px;
}